<section class="py-[10%] ">

<div class=" flex flex-col gap-5 px-[5%] py-[2%]">
<ul class="flex items-center gap-5 text-blackColor">
<li><a routerLink="#">Home</a></li>
<i class="fas fa-angle-right"></i>
<li class="font-bold"><a routerLink="#">Add To Cart</a></li>
</ul>

<div class="w-[70%]">
Please fill in the fields below and click place order to complete your purchase!
Already registered? <a class="text-voilentColor" routerLink="#">Please login here</a>
</div>
</div>

<!-- grid view -->
<div class="lg:grid hidden grid-cols-6 gap-20  items-center justify-center bg-blackBg text-white text-transform: uppercase lg:w-full py-[2%] px-[5%] " >
<!--gird navs  v-->
<div >Product Details</div>
<div>Price</div><div>Quantity</div>
<div>shipping</div><div>subtotal</div>
<div>action</div>
</div>


<!--  -->
@if (cartProducts.length === 0) {
<div >
  No products in cart.
</div>
}

@for (product of cartProducts; track product) {
<div class="grid lg:grid-cols-6 gap-20 items-center justify-center py-[2%] px-[5%] border-2 border-gray-100">

<div class="p-2 flex gap-5">
<img class="rounded-md" [src]="product.imageUrl" [alt]="product.title">
<p class="lg:block hidden">{{product.title}}</p>
</div>
<p class="lg:text-center m-auto">{{product.price.currencyCode}} {{product.price.amount}}</p>

<div class="flex  px-2 rounded-md bg-[#F6F6F6] text-gray-400 items-center justify-between">
<button>-</button>
<p>1</p>
<button>+</button>
</div>

<button class=" px-2 rounded-md bg-[#F6F6F6] text-gray-400">FREE</button>

<p class="m-auto">{{product.price.currencyCode}} {{product.price.amount}}</p>

<button (click)="removeProduct(product)"><i class="fa-solid fa-trash text-voilentColor"></i></button>

</div>

}

<div class="flex justify-between bg-[#F6F6F6] py-[2%] px-[5%]">

<div class="flex flex-col gap-2">
<p class="font-bold">Discount  Codes</p>
<p>Enter your coupon code if you have one</p>

<div class="lg:border-2 border-gray-200 rounded-md">
<input class="rounded-md border-none outline-none" type="text">
<button class="bg-voilentColor text-white px-2 border-none rounded-r-md">Apply Coupon</button>
</div>
<button class="bg-white rounded-md text-blackColor">Continue Shopping</button>
</div>

<div class="flex flex-col gap-5 ">
<div class="grid grid-cols-2 gap-5 border-b-2">
<p>Sub Total </p>
<p>CAD {{totalAmount}}.00</p>
<p>Shipping</p>
<p>CAD 00.00</p>
<p class="font-bold">Grand Total</p>
<p>CAD {{totalAmount}}.00</p>
</div>

<button class="bg-voilentColor text-white rounded-md">Proceed To Checkout</button>
</div>

</div>

</section>

 <!-- Footer -->
 <app-footer></app-footer>
