@if (loading) {
  <div>Loading...😎</div>
}


<div class="grid md:grid-cols-4 grid-cols-2 gap-5">
@if (!loading && displayedProducts.length >0) {
@for (product of displayedProducts; track product) {
<div (click)="routeToWomen()" class=" cursor-pointer">
<img class="rounded-md hover:shadow-md cursor-pointer" [src]="product.imageUrl" [alt]="product.title">

<div class="flex justify-between py-3">
<p>{{product.title}}</p>
@if (paginationVisible) {
<div class="flex gap-10">
<button (click)="prevPage()" [disabled]="currentPage === 1"><i class="fas fa-arrow-left"></i></button>
<button (click)="nextPage()"><i class="fas fa-arrow-right"></i></button>
</div>
 }
</div>
 </div>
}}

@if (!loading && displayedProducts.length === 0) {
<div>
  No products found.
</div>
}

</div>

<!-- <h2>{{ product.description }}</h2>
<img [src]="product.imageUrl" alt="{{ product.title }}">
<p>{{ product.description }}</p>
<p>Price: {{ product.price.amount }} {{ product.price.currencyCode }}</p> -->
