<footer>
<main class="bg-blackBg text-white flex flex-col gap-10 justify-between px-[5%] py-[5%] bottom-0">

<div class="flex md:flex-row flex-col justify-between">
<div class="flex flex-col gap-5">
<h1 class="text-2xl">Need Help</h1>
<ul>
<li class="hover:underline"><a routerLink="">Contact Us</a></li>
<li class="hover:underline"><a routerLink="">Track Order</a></li>
<li class="hover:underline"><a routerLink="">Returns & Refunds</a></li>
<li class="hover:underline"><a routerLink="">FAQ's</a></li>
<li class="hover:underline"><a routerLink="">Career</a></li>
</ul>
</div>

<div  class="flex flex-col gap-5">
<h1 class="text-2xl">Company</h1>
<ul>
<li class="hover:underline"><a routerLink="">About Us</a></li>
<li class="hover:underline"><a routerLink="">euphoria Blog</a></li>
<li class="hover:underline"><a routerLink="">euphoriastan</a></li>
<li class="hover:underline"><a routerLink="">Collaboration</a></li>
<li class="hover:underline"><a routerLink="">Media</a></li>
</ul>
</div>

<div  class="flex flex-col gap-5">
<h1 class="text-2xl">More Info</h1>
<ul>
<li class="hover:underline"><a routerLink="">Term and Conditions</a></li>
<li class="hover:underline"><a routerLink="">Privacy Policy</a></li>
<li class="hover:underline"><a routerLink="">Shipping Policy</a></li>
<li class="hover:underline"><a routerLink="">Sitemap</a></li>
</ul>
</div>

<div  class="flex flex-col gap-5">
<h1 class="text-2xl">Location</h1>
<ul>
<li class="hover:underline"><a href="mailto:support@euphoria.in">support</a></li>
<li class="hover:underline"><a routerLink="">Eklingpura Chouraha, Ahmedabad Main Road</a></li>
<li class="hover:underline"><a routerLink="">(NH 8- Near Mahadev Hotel) Udaipur, India- 313002</a></li>
</ul>
</div>

</div>

<!-- icons -->
<div class=" flex flex-col md:flex-row  justify-between">
<div class="flex gap-4">
<button class="bg-white w-10 h-10 rounded-md  text-blackColor flex items-center justify-center">
<i class="fa-brands fa-facebook"></i></button>
<button class="bg-white w-10 h-10 rounded-md  text-blackColor flex items-center justify-center">
<i class="fa-brands fa-instagram"></i></button>
<button class="bg-white w-10 h-10 rounded-md  text-blackColor flex items-center justify-center">
<i class="fa-brands fa-twitter"></i></button>
<button class="bg-white w-10 h-10 rounded-md  text-blackColor flex items-center justify-center">
<i class="fa-brands fa-linkedin"></i></button>
</div>

<div>
<h1 class="text-2xl">Download The App </h1>
<div class="flex">
<img class="cursor-pointer" src="../../../../assets/images/andriod.png" alt="apple icon">
<img class="cursor-pointer" src="../../../../assets/images/apple.png" alt="andriod icon">
</div>
</div>
</div>

<!-- Categories -->
<div class="border-t-2 border-b-2 border-gray-300 py-5 flex justify-between">
<h1>Popular Categories</h1>
<div><i class="fa-solid fa-angle-down"></i></div>
</div>

<!-- Copyright -->
<div class="m-auto">Copyright © 2024 Danny Kay . All rights reserved.</div>


</main>
</footer>
