@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}
html{
  font-family: "Roboto", sans-serif;
  color:rgba(60, 66, 66, 1) ;
}
